Nord_Apps/31-03-2016_ReIM/DB/RSE Components/ExtOfReIMIns.xsd

<xs:schema elementFormDefault="qualified"
   targetNamespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfReIMIns/v1"
   version="1.0"
   xmlns="http://www.oracle.com/retail/integration/custom/bo/ExtOfReIMIns/v1"
   xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <xs:element name="ReIMInsertReq">	
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="ReIMInsertReqRec" minOccurs="1" maxOccurs="unbounded"/> 
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="ReIMInsertReqRec">   
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" name="record_type" type="varchar26"/>   
            <xs:element minOccurs="0" name="user_id" type="varchar230"/>  
            <xs:element minOccurs="1" name="file_name" type="varchar290"/> 
            <xs:element minOccurs="0" name="type" type="varchar26"/>
            <xs:element minOccurs="0" name="status" type="varchar210"/>
            <xs:element minOccurs="0" name="order_no" type="number12"/>
            <xs:element minOccurs="1" name="location" type="number10"/>
            <xs:element minOccurs="1" name="doc_date" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="vendor_type" type="varchar26"/>
            <xs:element minOccurs="1" name="vendor" type="varchar210"/>
            <xs:element minOccurs="1" name="ext_doc_id" type="varchar2150"/>
            <xs:element minOccurs="0" name="terms" type="number15"/>
            <xs:element minOccurs="0" name="due_date" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="currency_code" type="varchar23"/>
            <xs:element minOccurs="0" name="total_cost" type="number20_4"/>
            <xs:element minOccurs="0" name="total_qty" type="number12_4"/>
            <xs:element minOccurs="0" name="custom_doc_ref_1" type="varchar290"/>   
            <xs:element minOccurs="0" name="custom_doc_ref_2" type="varchar290"/>   
            <xs:element minOccurs="0" name="custom_doc_ref_3" type="varchar290"/>   
            <xs:element minOccurs="0" name="custom_doc_ref_4" type="varchar290"/>   
            <xs:element minOccurs="0" name="total_cost_inc_tax" type="number20_4"/>
            <xs:element minOccurs="0" name="supplier_site_id" type="varchar210"/>
            <xs:element minOccurs="0" name="tax_basis" type="number20_4"/>
            <xs:element minOccurs="0" name="comment_type" type="varchar26"/>
            <xs:element minOccurs="0" name="text" type="varchar22000"/>
            <xs:element ref="ReIMInsDtl" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="ReIMInsDtl">
   <xs:complexType>
      <xs:sequence>
         <xs:element minOccurs="1" name="record_type" type="varchar26"/> 
         <xs:element minOccurs="1" name="user_id" type="varchar230"/>
         <xs:element minOccurs="1" name="ext_doc_id" type="varchar2150"/>
         <xs:element minOccurs="1" name="vendor" type="varchar210"/>
         <xs:element minOccurs="1" name="doc_date" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="order_no" type="number12"/>
         <xs:element minOccurs="0" name="item" type="varchar225"/>
         <xs:element minOccurs="0" name="unit_cost" type="number20_4"/>
         <xs:element minOccurs="0" name="invoice_qty" type="number12_4"/>
         <xs:element minOccurs="0" name="tax_basis" type="number20_4"/>
         <xs:element minOccurs="0" name="comment_type" type="varchar26"/>
         <xs:element minOccurs="0" name="text" type="varchar22000"/>
         <xs:element minOccurs="0" name="debit_reason_code" type="varchar220"/>
         <xs:element minOccurs="0" name="non_merch_code" type="varchar2120"/>
         <xs:element minOccurs="0" name="non_merch_amount" type="number20_4"/>
      </xs:sequence>
      </xs:complexType>
   </xs:element>
   
   <xs:element name="ReIMBatchIReturn">	
     <xs:complexType>
     <xs:sequence>
     <xs:element ref="ReIMBatchIReturnRec" minOccurs="1" maxOccurs="unbounded"/> 
     </xs:sequence>
            </xs:complexType>
    </xs:element>
    
   <xs:element name="ReIMBatchIReturnRec">
     <xs:complexType>
      <xs:sequence>
         <xs:element minOccurs="1" name="record_type" type="varchar26"/> 
         <xs:element minOccurs="0" name="user_id" type="varchar210"/>   
         <xs:element minOccurs="1" name="file_name" type="varchar290"/>
         <xs:element minOccurs="1" name="ext_doc_id" type="varchar230"/>
         <xs:element minOccurs="1" name="vendor" type="varchar210"/>
         <xs:element minOccurs="1" name="doc_date" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="order_no" type="number12"/>
         <xs:element minOccurs="0" name="type" type="varchar26"/>
         <xs:element minOccurs="1" name="status_code" type="varchar21"/>
         <xs:element minOccurs="1" name="status_description" type="varchar22000"/>
      </xs:sequence>
     </xs:complexType>
  </xs:element>
  <xs:simpleType name="varchar225">
         <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
         </retailDoc:annotation>
         <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
         </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar22000">
           <retailDoc:annotation>
              <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
           </retailDoc:annotation>
           <xs:restriction base="xs:string">
              <xs:maxLength value="2000"/>
           </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar26">
           <retailDoc:annotation>
              <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
           </retailDoc:annotation>
           <xs:restriction base="xs:string">
              <xs:maxLength value="6"/>
           </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
           <retailDoc:annotation>
              <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
           </retailDoc:annotation>
           <xs:restriction base="xs:string">
              <xs:maxLength value="30"/>
           </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar23">
            <retailDoc:annotation>
               <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
            </retailDoc:annotation>
            <xs:restriction base="xs:string">
               <xs:maxLength value="3"/>
            </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number20_4">
         <retailDoc:annotation>
              <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.
         </retailDoc:documentation>
        </retailDoc:annotation>
            <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20" />
               <xs:fractionDigits value="4" />
              </xs:restriction>
   </xs:simpleType>
  <xs:simpleType name="number12">
         <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
         </retailDoc:annotation>
         <xs:restriction base="xs:long">
            <xs:totalDigits value="12"/>
         </xs:restriction>
   </xs:simpleType>
  <xs:simpleType name="number15">
         <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
         </retailDoc:annotation>
         <xs:restriction base="xs:long">
            <xs:totalDigits value="15"/>
         </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
            <retailDoc:annotation>
               <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
            </retailDoc:annotation>
            <xs:restriction base="xs:string">
               <xs:maxLength value="10"/>
            </xs:restriction>
  </xs:simpleType>
   <xs:simpleType name="varchar21">
              <retailDoc:annotation>
                 <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
              </retailDoc:annotation>
              <xs:restriction base="xs:string">
                 <xs:maxLength value="1"/>
              </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar290">
              <retailDoc:annotation>
                 <retailDoc:documentation>This type can hold a string of max length of 90 characters.</retailDoc:documentation>
              </retailDoc:annotation>
              <xs:restriction base="xs:string">
                 <xs:maxLength value="90"/>
              </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number10">
           <retailDoc:annotation>
              <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
           </retailDoc:annotation>
           <xs:restriction base="xs:long">
              <xs:totalDigits value="10"/>
           </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number12_4">
            <retailDoc:annotation>
                 <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.
            </retailDoc:documentation>
           </retailDoc:annotation>
               <xs:restriction base="xs:decimal">
               <xs:totalDigits value="12" />
                  <xs:fractionDigits value="4" />
                 </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar220">
                 <retailDoc:annotation>
                    <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
                 </retailDoc:annotation>
                 <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                 </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2150">
                   <retailDoc:annotation>
                      <retailDoc:documentation>This type can hold a string of max length of 150 characters.</retailDoc:documentation>
                   </retailDoc:annotation>
                   <xs:restriction base="xs:string">
                      <xs:maxLength value="150"/>
                   </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2120">
                   <retailDoc:annotation>
                      <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
                   </retailDoc:annotation>
                   <xs:restriction base="xs:string">
                      <xs:maxLength value="120"/>
                   </xs:restriction>
  </xs:simpleType>
   </xs:schema>
